* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 1px;
}

@import "./frappe.css";

button label {
    all: unset;
}

window#waybar {
    background: @base;
    border-radius: 0px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background: none;
}

#backlight,
#battery,
#bluetooth,
#clock,
#clock-date
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#workspaces
{
    padding: 0 8px;
    margin: 2px 2px;
}

#idle_inhibitor {
    color: @blue;
}

#bluetooth,
#backlight {
    color: @blue;
}

#battery {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
}

#clock {
    color: @yellow;
}

#cpu {
    color: @green;
}

#memory {
    color: @sky;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0 8px;
    margin: 0 4px 0 0;
    border: 1px solid @flamingo;
    border-radius: 9px;
    padding-left: 6px;
    padding-right: 6px;
    color: @text;
    background-color: @base;
}

#workspaces button.active {
    color: #ef9f76;
}

#workspaces button.focused {
    color: #ef9f76;
}

#workspaces button.urgent {
    color: @red;
}


#pulseaudio {
    color: @sapphire;
}

#pulseaudio.bluetooth {
    color: @pink;
}
#pulseaudio.muted {
    color: @red;
}

#window {
    color: @mauve;
}

#network {
    color: @teal;
}
#network.disconnected,
#network.disabled {
    background-color: @surface0;
    color: @text;
}
